
@font-face {
    font-family: 'Questrial';
    src: url('Questrial-Regular.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.ttf');
}

html {
    background-image: url("andrew-kliatskyi-XnqRnYyZ4sA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    background-color: black;
    height: 460px;
    width: 360px;
    padding: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 100px #5c5c5c;
    transition:0.5s ease all;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-color: black;
    padding:10px;
    margin-bottom: 0px;
    height: 120px;
    width: 300px;
    border-radius: 15px;
    color: white;
    font-size: 50px;
    font-family: 'Kanit';

}

.row {
    display: flex;
    flex-direction: row;

    
}

button {
    height: 64px;
    width: 90px;
    text-align: center;
    background-color: rgb(75 75 75);
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: 1px solid black ;
    font-family: 'Questrial';
    border-radius: 3px;
}

button:hover {
    opacity: 0.9;
    box-shadow: 0px 0px 100px #5c5c5c;
}

#del-button {
    /* color: rgb(235, 250, 122); */
    color: rgb(230, 174, 248);
}

#eq-button {
    /* background-color: rgb(95, 169, 125); */
    background-color: rgb(10, 202, 122);
    color: white;
    width: 180px;
    border-radius: 3px 3px 15px 3px;
    font-size: 20px;
}

#clear {
    background-color: rgb(227, 224, 219);
    color: rgb(10, 202, 122);
    width: 180px;
    border-radius: 3px 3px 3px 15px;
    font-family: 'Questrial';
    font-size: 20px;
    font-weight: 900;
}

.op-button {
    background-color: rgb(120, 120, 120);
    color: rgb(10, 202, 122);
    font-size: 20px;
}